body { font-family: Arial; margin: 0; background: #e9fff1; }
        header { background: #2e8b57; color: white; padding: 25px; text-align: center; }
        nav a { margin: 15px; color: white; text-decoration: none; font-weight: bold; }
        section { padding: 40px; text-align: center; }
        .card {
            width: 75%; margin: auto; margin-bottom: 30px;
            background: white; padding: 25px; border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
        img { width: 100%; border-radius: 10px; margin-top: 10px; }
        button {
            background: #2e8b57; border: none; color: white; padding: 12px 20px;
            border-radius: 6px; cursor: pointer; font-size: 16px;
        }
        body { font-family: Arial; margin:0; background:#efffea; }
        header { background:#2e8b57; color:white; padding:25px; text-align:center; }
        nav a { margin: 15px; color:white; text-decoration:none; font-weight:bold; }
        .container { width:75%; margin:auto; padding:30px; }
        .box {
            background:white; padding:20px; margin-bottom:25px;
            border-radius:10px; box-shadow:0 4px 10px rgba(0,0,0,0.1);
        }
        img { width:100%; border-radius:10px; margin-top:10px; }
        iframe { width:100%; height:350px; border-radius:10px; }
         body { font-family: Arial; margin: 0; background: #e9fff1; }
        header { background: #2e8b57; color: white; padding: 25px; text-align: center; }
        nav a { margin: 15px; color: white; text-decoration: none; font-weight: bold; }
        section { padding: 40px; text-align: center; }
        .card {
            width: 75%; margin: auto; margin-bottom: 30px;
            background: white; padding: 25px; border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
        img { width: 100%; border-radius: 10px; margin-top: 10px; }
        button {
            background: #2e8b57; border: none; color: white; padding: 12px 20px;
            border-radius: 6px; cursor: pointer; font-size: 16px;
        }
video{
    border-radius: 15px;
    overflow: hidden;
}